
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76rem;
}.thank-you-ZTu {
  box-sizing: border-box;
  padding: 8rem 8rem 8rem 8rem;
  width: 100%;
  row-gap: 4.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6.4rem;
}
.thank-you-ZTu .avatar-1-fG3 {
  margin-right: 50.4rem;
  width: 9.6rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 96rem;
  flex-shrink: 0;
}
.thank-you-ZTu .frame-745-Pxj {
  margin-right: 0.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thank-you-ZTu .frame-745-Pxj .thank-you-M8s {
  margin-bottom: 1.6rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thank-you-ZTu .frame-745-Pxj .thanks-for-duplicating-this-figma-file-if-you-found-it-useful-please-feel-free-to-show-your-support-in-any-of-the-four-ways-mentioned-below-sd1 {
  max-width: 59.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 {
  width: 100%;
  height: 11.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-q9fv-4xP {
  margin-right: 1.6rem;
  width: 18.9333rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-q9fv-4xP .btt-cU7 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-q9fv-4xP .btt-qrf {
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-qskp-tpw {
  margin-right: 1.6rem;
  width: 18.9333rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-qskp-tpw .btt-SbZ {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-qskp-tpw .btt-WbR {
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-knp9-Cz3 {
  width: 18.9333rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-knp9-Cz3 .btt-kVm {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.thank-you-ZTu .button-KE7 .auto-group-knp9-Cz3 .btt-R67 {
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.thank-you-ZTu .get-our-comprehensive-hotelbook-figma-ui-kit-5gT {
  margin-right: 9.7rem;
  max-width: 50.3rem;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.4545454545;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.thank-you-ZTu .promo-zHd {
  margin-right: 0rem;
  width: 60rem;
  height: 34.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.thank-you-ZTu .button-5Zy {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  height: 8rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39ad65;
  border-radius: 2rem;
  flex-shrink: 0;
}
